<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="titulo_pagina">
            <h1>Diseño <span>Multimedia</span></h1>
        </div>
        <nav>
            <a href="../templates/index.html">Inicio</a>
            <a href="nosotros.html">Nosotros</a>
            <a href="servicios.html">Servicios</a>
            <a class="contacto" href="contacto.html">Contacto</a>
        </nav>

    </header>
    <hr>


    <div class="pagina3_section1">
        <h2 class="titulo_pagina3">
            Subscribete a nuestro boletin
        </h2>
        <div class="llenar_email_pagina3">
            <input type="email" placeholder="Ingrese su email...">
            <button class="boton_pagina3">
                Subscribete
            </button>
        </div>
    </div>


    <section class="pagina4">
        <div class="formulario">

            <h3 class="titulo-contacto">Contacto</h3>
            <form class="formulario-contacto">
                <p>Nombre</p>
                <input type="text" placeholder="Ingrese su nombre">
                <p> Email</p>
                <input type="email" placeholder="Ingrese su Email">
                <p>Telefono</p>
                <input type="tel" placeholder="Ingrese su Telefono">
                <p>Celular</p>
                <input type="tel" placeholder="Ingrese su Celular">
                <P>Mensaje</P>
                <div class="mensaje-form">
                    <textarea name="" id=""></textarea>
                    <button class="boton-formulario">
                        Enviar
                    </button>
                </div>
            </form>
        </div>



        <div class="cuadro-mapa">
            <div class="cuadro">
                <h3>Que hacemos</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur<br>
                    elit.Odit ab quo ipsum rerum, porro iure <br>
                    ipsa quibusdam! Eius consectetur <br>
                    adipisci culpa laudantium sapiente,minus rerum
                </p>



            </div>
            <div class="mapa">
                <img src="../assets/mapaGoogle.png">
            </div>


        </div>

    </section>



    <footer class="pagina1_section4">
        <p>Graphael Desarrollo Web, Copyright © 2017</p>
    </footer>


</body>

</html>