<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="titulo_pagina">
            <h1>Diseño <span>Multimedia</span></h1>
        </div>
        <nav>
            <a href="../index.html">Inicio</a>
            <a class="nosotros" href="nosotros.html">Nosotros</a>
            <a href="servicios.html">Servicios</a>
            <a href="contacto.html">Contacto</a>
        </nav>

    </header>
    <hr>


    <div class="pagina2_section1">
        <h2 class="titulo_pagina2">
            Subscribete a nuestro boletin
        </h2>
        <div class="llenar_email_pagina2">
            <input type="email" placeholder="Ingrese su email...">
            <button class="boton_pagina2">
                Subscribete
            </button>
        </div>
    </div>



    <div class="pagina2_section2">
        <div class="texto_pagina2">
            <h2 class="titulo1_pagina2">Nosotros</h2>
            <p class="parrafo_pagina2">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.Odit ab quo ipsum rerum, porro iure perferendi
                ipsa quibusdam! Eius consectetur repellendus<br>
                adipisci culpa laudantium sapiente,minus rerum ullam exercitationem! Minus Lorem ipsum, dolor sit
                amet consectetur adipisicing elit. Odit ab quo ipsum rerum, <br>
                porro iure perferendis ipsa quibusdam! Eius consectetur repellendus adipisci culpa laudantium sapiente,
                minus rerum ullam <br>
                exercitationem! Minus
            </p>
        </div>
        <div class="pagina2_cuadro1">
            <div class="cuadro_pagina2">
                <p class="titulo_cuadro1">
                    Que hacemos
                </p>
                <p class="parrafo_cuadro1">
                    Lorem ipsum, dolor sit amet consectetur<br>
                    elit.Odit ab quo ipsum rerum, porro iure <br>
                    ipsa quibusdam! Eius consectetur <br>
                    adipisci culpa laudantium sapiente,minus rerum <br>
                </p>
            </div>

        </div>
    </div>



    <div class="cuadro2_pagina2">
        <p class="parrafo_cuadro2">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.Odit ab quo ipsum rerum, porro iure perferendi
            ipsa quibusdam! Eius consectetur repellendus<br>
            adipisci culpa laudantium sapiente,minus rerum ullam exercitationem! Minus Lorem ipsum, dolor sit
            amet consectetur adipisicing elit. Odit ab quo ipsum <br>
            porro iure perferendis ipsa quibusdam! Eius consectetur repellendus adipisci culpa laudantium sapiente,
            minus rerum ullam <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.Odit ab quo ipsum rerum, porro iure perferendi
            ipsa quibusdam! Eius consectetur repellendus<br>
            adipisci culpa laudantium sapiente,minus rerum ullam exercitationem! Minus Lorem ipsum, dolor sit
            amet consectetur adipisicing elit. Odit ab quo ipsum <br>
            porro iure perferendis ipsa quibusdam! Eius consectetur repellendus adipisci culpa laudantium sapiente,
            minus rerum ullam <br>
            adipisci culpa laudantium sapiente,minus rerum ullam exercitationem! Minus Lorem ipsum, dolor sit
            amet consectetur adipisicing elit. Odit ab quo ipsum <br>

        </p>
    </div>
    <div class="imagen_pagina2">
        <img src="../assets/891.jpg">
    </div>

    <footer class="pagina1_section4">
        <p>Graphael Desarrollo Web, Copyright © 2017</p>
    </footer>

</body>

</html>