<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="titulo_pagina">
            <h1>Diseño <span>Multimedia</span></h1>
        </div>
        <nav>
            <a href="../templates/index.html">Inicio</a>
            <a href="nosotros.html">Nosotros</a>
            <a class="servicios" href="servicios.html">Servicios</a>
            <a href="contacto.html">Contacto</a>
        </nav>

    </header>
    <hr>


    <div class="pagina3_section1">
        <h2 class="titulo_pagina3">
            Subscribete a nuestro boletin
        </h2>
        <div class="llenar_email_pagina3">
            <input type="email" placeholder="Ingrese su email...">
            <button class="boton_pagina3">
                Subscribete
            </button>
        </div>
    </div>


    <section class="cajas_pagina3">
        <div class="cajas1_pagina3">
            <h2 class="servicios_pagina3">
                Servicios
            </h2>
            <div class="caja1">
                <div class="textos_caja1">
                    <h2>Diseño Web</h2>
                    <p class="texto_caja1">Lorem ipsum, dolor sit amet consectetur
                        elit.Odit ab quo ipsum rerum, porro iure
                        ipsa quibusdam! Eius consectetur <br><br>
                        Precio: $300000 - $1000000</p>
                </div>
            </div>
            <div class="caja2">
                <div class="textos_caja2">
                    <h2>Desarrollo Web</h2>
                    <p class="texto_caja2">Lorem ipsum, dolor sit amet consectetur
                        elit.Odit ab quo ipsum rerum, porro iure
                        ipsa quibusdam! Eius consectetur <br><br>
                        Precio desde: $1000000</p>
                </div>
            </div>
            <div class="caja3">
                <div class="textos_caja3">
                    <h2>Hosting Web</h2>
                    <p class="texto_caja3">Lorem ipsum, dolor sit amet consectetur
                        elit.Odit ab quo ipsum rerum, porro iure
                        ipsa quibusdam! Eius consectetur <br><br>
                        Precio: 300000</p>
                </div>
            </div>
        </div>

        <div class="caja4">
            <div class="texto_cuadro2">
                <h3 class="titulo_cuadro2_pagina3">Que hacemos</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur<br>
                    elit.Odit ab quo ipsum rerum, porro iure <br>
                    ipsa quibusdam! Eius consectetur <br>
                    adipisci culpa laudantium sapiente,minus rerum
                </p>



            </div>
        </div>
    </section>


    <footer class="pagina1_section4">
        <p>Graphael Desarrollo Web, Copyright © 2017</p>
    </footer>

</body>

</html>