<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="titulo_pagina">
            <h1>Diseño <span>Multimedia</span></h1>
        </div>
        <nav>
            <a href="../templates/index.html">Inicio</a>
            <a href="/templates/nosotros.html">Nosotros</a>
            <a class="servicios" href="/templates/servicios.html">Servicios</a>
            <a href="../templates/contacto.html">Contacto</a>
        </nav>

    </header>
    <hr>


    <section class="pagina3_section1">
        <h2 class="titulo_pagina3">
            Subscribete a nuestro boletin
        </h2>
        <div class="llenar_email_pagina3">
            <input type="email" value="Ingrese su email...">
            <button class="boton_pagina3">
                Subscribete
            </button>
        </div>
    </section>


    <section class="cajas_pagina3">
        <div class="cajas1_pagina3">
            <h2 class="servicios_pagina3">
                Servicios
            </h2>
            <div class="caja1"></div>
            <div class="caja2"></div>
            <div class="caja3"></div>
        </div>

        <div class="caja4">
            <div class="texto_cuadro2">
                <h3 class="titulo_cuadro2_pagina3">Que hacemos</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur<br>
                    elit.Odit ab quo ipsum rerum, porro iure <br>
                    ipsa quibusdam! Eius consectetur <br>
                    adipisci culpa laudantium sapiente,minus rerum
                </p>



            </div>
        </div>
    </section>

</body>

</html>